* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #fdfdfd;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2.4rem;
}

.grid {
  display: grid;
  gap: 6.4rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.heading-primary {
  font-size: 4.8rem;
  font-weight: 700;
  color: #222;
  line-height: 1.1;
}
.heading-primary * {
  display: block;
}

.heading-secondary {
  font-size: 3.6rem;
  font-weight: 700;
  color: #222;
  margin-bottom: 6.4rem;
  text-align: center;
}

/* helper classes */
.center-v {
  align-items: center;
}
